<header class="header">
    <div class="container header__container">
        <a href="../index.html" class="logo"></a>
        <nav class="nav">
            <ul class="nav__menu">
                <li><a href="../index.html">Início</a></li>
                <li><a href="../pages/quem-somos.html">Quem Somos</a></li>
                <li><a href="../pages/projetos.html">Projetos</a></li>
                <li><a href="../pages/como-ajudar.html">Como Ajudar</a></li>
                <li><a href="../pages/contato.html">Contato</a></li>
            </ul>
        </nav>
        <a href="#" class="btn-primary header__donate">Doar</a>
        <button class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

</header>
