@media (max-width:768px){
    .nav{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:white;
        display:none;
        }

    .nav__menu{
        flex-direction:column;
        padding:20px;
        }

    .nav.active{
        display:block;
        }

    .menu-toggle{
        display:flex;
        }

    .header__donate{
        display:none;
        }
}

@media (max-width:768px){

    .hero{
        height:auto;
        padding:120px 0;
        }

    .hero__title{
        font-size:32px;
        }

    .hero__buttons{
        flex-direction:column;
    }
}

@media (max-width:900px){
    .areas__grid{
        grid-template-columns:1fr 1fr;
    }
}

@media (max-width:600px){
    .areas__grid{
        grid-template-columns:1fr;
    }
}

@media (max-width:900px){
    .impact__grid{
        grid-template-columns:1fr 1fr;
    }
}

@media (max-width:600px){
    .impact__grid{
        grid-template-columns:1fr;
    }
}

@media (max-width:900px){
    .help__grid{
        grid-template-columns:1fr;
    }
}

@media (max-width:900px){
    .footer__grid{
        grid-template-columns:1fr;
        text-align:center;
    }
}
